package index

templ hello(name string) {
<div class="flex justify-center items-center flex-col">
    <div>Hello, { name }</div>
    <button class="btn">Hello, { name }</button>
    <button class="btn-error"> Get the fuck outta here, { name } </button>
</div>
}
